<input type="text" [(ngModel)]="title" />
{{ title }}

<div [ngSwitch]="title">
  <p *ngSwitchCase="'Adri'">Soy Adri</p>
  <p *ngSwitchCase="'Violetta'">Soy Violetta</p>
  <p *ngSwitchCase="'Isabella'">Soy Isabella</p>
  <p *ngSwitchDefault>No hay match</p>
</div>

<button (click)="addName()">Add Name</button>

<ul>
  <li *ngIf="names.length === 0">La lista está vacía</li>
  <li *ngFor="let name of names; index as i">
    {{ name }} {{ i }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<div *ngFor="let product of products">
  <app-product [product]="product"></app-product>
</div>
